@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --formal-font: "Great Vibes", cursive;
  --informal-font: "Montserrat", sans-serif;
  --gold-color: #ffc300;
  --skin-color: #f2ded0d0;
  --maroon-color: #180602;
}

* {
  font-family: var(--informal-font);
}

body {
  background-color: var(--skin-color);
}

.formal-font-text {
  font-family: var(--formal-font);
}

.dark\:text-white {
  @media (prefers-color-scheme: dark) {
    color: var(--maroon-color);
  }
}

#name {
  font-size: 1.2rem;
  background: var(--gold-color);
  font-weight: 600;
  letter-spacing: 1px;
}
